$background-color: #f8f8f8;
$secondary-color: #00bdd3;
$primary-color: #f4e041;
$phone-min-width: 360px;
$phone-max-width: 768px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-min-width: 1024px;
